

.introduction-container {

    display: flex;
    justify-content: center;
    align-items: center;
   
    
    height: 60vh;
    width: 80vw;
   position: relative;
   margin:  0 auto;
margin-top: 10rem;
    /* background-color: rgb(111, 107, 107); */
    /* box-shadow: 10px 40px 20px rgba(0,0,0,0.5); */
   
}

.flex-item {
    flex-grow: 1;
    flex-basis:1;
    flex-shrink: 1;
    
    
}
 .avatar {
    
    background-image: url('avatar.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    min-width: 40vw;
    min-height: 60vh;
    max-height: 80vh;
   
    /* border: 1px solid white; */
}



.introduction-text {
   /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3rem;
    
   
}

.introduction-text .call-to-action {
    margin: 2rem 0;

}

.introduction-text .subtitle {
    letter-spacing: 1px;
    line-height: 25px;
    opacity: .8;

}



/* ________________experiment */
