.home-main-section {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 80vh; */
    margin: auto;
    width: 100%;
    position: relative;


}

.home-main-section .avatar {
    background-image: url('avatar.png');
    position: relative;
    z-index: 2;
    min-width: 50%;
    background-size: contain;
    background-repeat: no-repeat;



}

.introduction {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 70vh;

}

.introduction .call-to-action {
    margin: 2rem 0;

}

.introduction .subtitle {
    letter-spacing: 1px;
    line-height: 25px;
    opacity: .8;

}

.introduction .icon {
    margin-top: 3rem;
}

/* ________________experiment */
/* .linkedin-icon {
    width: 80px;
}
.github-icon {
    width: 80px;
    position: absolute;
    
    animation: iconsAnimation 6s ease-in-out ;
}



@keyframes iconsAnimation {
    0% {
        transform:  translateX(600px) rotate(0deg);
       
    }

    25% {
        transform:  translateX(200px) rotate(-90deg);
       
    }

    50% {
        transform:  translateX(100px) rotate(-180deg);
       
    }



890%{transform: translateX(-30px) rotate(-240deg);

}

100% {transform:  translateX(0) rotate(-360deg);

}
} */