*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3F3F3F;
    --secondary-color: #95956E;
    --accent-color: #D2D86E;
    --font-color: #EFEFEF;
    --accent-font-family: 'Dancing Script', Helvetica, sans-serif;
    --regular-font-family:  'Poppins', sans-serif;
}

body {
    background: linear-gradient( rgb(34, 33, 33)
    ,var(--primary-color), var(--primary-color));
    /* background-color: var(--primary-color); */
    font-family: var(--regular-font-family);
    font-size: 1.2rem;
    color: var(--font-color);
    min-height: 100vh;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}
.full-height-container {
    display: flex;
    flex-direction: column;
}

.logo {
    position: relative;
        z-index: 2;
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    font-family: var(--headings-font-family);
    
}
.logo-symbols {
    color: var(--accent-color);
    font-size: 2rem;
    text-align: center;
}


.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content:flex-end;
    align-items: center;
    
}

.main-nav a{
    color: inherit;
    text-decoration: none;
    padding: .6rem;
    text-transform: uppercase;
    
}
.linkedin-icon {
    width: 60px;
    
}

.github-icon {
    width: 60px;

}
.social-icons:hover {
    transform: scale(1.1);
   
}
.main-nav a:hover,
.main-nav a:focus {
    color: var(--accent-color);
    transition: color .5s ease-in-out;
}

.main-header {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
   
}


.title {
    font-family: var(--accent-font-family);
    color: var(--font-color);
    font-size: 4rem;
    
}

#text-highlight {
    color: var(--accent-color);
    font-family: var(--accent-font-family);
    font-size: 3rem;
    letter-spacing: 2px;
   
   
}
.subtitle {
    font-family: var(--regular-font-family);
    color: inherit;
    font-size: 1.2em;
    font-weight: lighter;
    margin-top: 3rem;
   
}
hr{
    width: 100%;
    margin-top: .5rem;
    opacity: .2;
}

.button {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: .3em .8em;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    
}

.button:hover {
    background-color: var(--accent-color);
    transition: background-color .4s ease-in-out;
   
}

a {
    text-decoration: none;
}